@model int

@{
    Layout = null;
}

<div class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="col-md-2 control-label">
            Product Name
        </label>
        <div class="col-md-5">
            <input name="MealProducts[@Model].Product.ProductName" class="form-control productName" />
        </div>
        <label class="col-md-1 control-label">
            Quantity
        </label>
        <div class="col-md-4">
            <input name="MealProducts[@Model].Quantity" class="form-control" />
        </div>
    </div>
</div>

<script>
    $.get("AvaiableProductsNames", function (data, status) {
        $(".productName").autocomplete({
            source: data
        });
    });
</script>