@model Meal

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

@foreach (var modelState in ViewData.ModelState.Values) {
    foreach (var error in modelState.Errors) {
        @: @error.ErrorMessage
    }
}

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Meal</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Weight" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Category.CategoryName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Category.CategoryName" class="form-control" />
                <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
            </div>
        </div>
        @if (User.IsInRole(Constants.AdminRole))
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        <input asp-for="IsActive" />
                        <label asp-for="IsActive"></label>
                    </div>
                </div>
            </div>
        }

        <h4>Products</h4>

        <div id="products-container">
            @{
                int index = -1;
            }
            @foreach (var mealProduct in Model.MealProducts)
            {
                index++;
                var product = mealProduct.Product;
                <div class="form-horizontal">
                    <div class="form-group">
                        <input type="hidden" value="@index" class="hiddenindex" />
                        <label class="col-md-2 control-label">
                            Product Name
                        </label>
                        <div class="col-md-4">
                            <input class="form-control productName"
                                   name="MealProducts[@index].Product.ProductName"
                                   value="@product.ProductName" />
                        </div>
                        <label class="col-md-1 control-label">
                            Quantity
                        </label>
                        <div class="col-md-3">
                            <input class="form-control"
                                   name="MealProducts[@index].Quantity"
                                   value="@mealProduct.Quantity" />
                        </div>
                        <button type="button" class="delete-product btn btn-danger col-md-1 form-group">
                            Delete
                        </button>
                    </div>
                </div>
            }
        </div>

        <button type="button" class="add-product btn btn-default">
            Add product
        </button>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        var index = $(".hiddenindex").last().val();
        $(".add-product").on("click", function () {
            index++;
            $.get("/Meals/AddProduct", { 'index': index }, function (result) {
                $("#products-container").append(result);
            });
        });
        
        $.get("/Meals/AvaiableProductsNames", function (data, status) {
            $(".productName").autocomplete({
                source: data
            });
        });

        $(".delete-product").on("click", function () {
            $(this).parent().parent().empty();
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
