@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<h5>DateTime: @DateTime.Now.ToString("d MMM yyy hh:MM:ss")</h5>

<ul>
    @for (int index = 0; index < (ViewData["Numbers"] as int[]).Length; index++)
    {
        <li>
            @((ViewData["Numbers"] as int[])[index] as int?)
        </li>
    }
</ul>
